.ContactInfoPopUp
{
    vertical-align: middle;
    background-color: #333;
    color: white;
}

.ContactInfoPopUp ul{
    list-style-type: none;
}

.ContactInfoPopUp ul li i{
    display: inline-block;
}

.ContactInfoPopUp ul li label{
    display: block;
}

.ContactInfoPopUp ul li .input{
    display: inline-block;
}
