.navBarItem{
    cursor: pointer;
}

ul {
    list-style-type: none;
    background-color: #333;
    display: flex;
}

ul li {
    padding: 0.25em;    
    margin: 0 0.25em;
    color: white;
    font-size:1.5em;
}

ul li:hover {
    background-color: #ccc;
}