.sectionBox{
    width: fit-content;
    cursor: default;
}

.sectionBox ul{
    display: flex;
    border-radius: 0;
}
.sectionBox ul li{
    list-style-type:none;
    padding: 0.1em;
    color:  #333;
    font-size:1em;
}

.sectionBox ul li:hover{
    background: #333!important;
}