.sectionBox{
    width: fit-content;
}

.sectionBox ul{
    display: flex;
    background: white;
}
.sectionBox ul li{
    list-style-type:none;
    padding: 0.1em;
    color:  #333;
}

.sectionBox ul li:hover{
    background: white;
}